<form name="OCProductForm" ng-submit="product.addToCart(product.item)" id="product_view">
    <fieldset class="form-group">
        <div class="row">
            <div ng-class="{'col-md-6': product.item.xp.image, 'col-md-12': !product.item.xp.image}">
                <!--PRODUCT IMAGE-->
                <img class="img-responsive" ng-if="product.item.xp.image.URL" ng-src="{{product.item.xp.image.URL}}" alt="Product Image">
                <div class="panel panel-default" ng-if="product.item.Description && product.item.xp.image.URL">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        {{product.item.Description}}
                    </div>

                </div>
            </div>
            <div ng-class="{'col-md-6': product.item.xp.image, 'col-md-12': !product.item.xp.image}">
                <h1>{{product.item.Name || product.item.ID}}</h1>
                <h3 ng-if="product.item.Name">{{product.item.ID}}</h3>
                <div class="panel panel-default" ng-if="product.item.Description && !product.item.xp.image.URL">
                    <div class="panel-heading">
                        <h3 class="panel-title">Description</h3>
                    </div>
                    <div class="panel-body">
                        {{product.item.Description}}
                    </div>
                </div>
                <div class="panel panel-default" ng-if="product.item.StandardPriceSchedule.PriceBreaks">
                    <div class="panel-heading">
                        <h3 class="panel-title">Price Breaks</h3>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="priceBreak in product.item.StandardPriceSchedule.PriceBreaks">
                            <td>{{priceBreak.Quantity}}</td>
                            <td>{{priceBreak.Price}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <oc-spec-form product="product"></oc-spec-form>
                <oc-add-to-order product="product" formname="OCProductForm"></oc-add-to-order>
            </div>
        </div>
    </fieldset>
</form>