<article>
    <h3 ng-if="productlist.length > 0" class="page-header">
        {{productlist.length > 1 ? 'Products' : 'Product'}}
    </h3>
    <div class="product-list row">
        <div class="col-md-3" ng-repeat="product in productlist">
            <div class="product-item" ui-sref="catalog.product({productid: product.ID})">
                <h3 class="item-name">{{product.Name || product.ID}}</h3>
                <p class="item-id" ng-if="product.Name">{{product.ID}}</p>
                <div class="thumbnail-image">
                    <span class="fa-stack fa-5x" ng-if="!product.xp.image">
                        <i class="fa fa-camera fa-stack-1x"></i>
                        <i class="fa fa-ban fa-stack-2x text-danger"></i>
                    </span>
                    <div ng-if="product.xp.image">
                        <img class="img-responsive" ng-src="{{product.xp.image.URL}}" alt="Product Image">
                    </div>
                </div>
                <div class="item-price"><p>{{product.StandardPriceSchedule.PriceBreaks[0].Price | currency}} x {{product.StandardPriceSchedule.PriceBreaks[0].Quantity}}</p></div>
                <div class="item-description" ng-if="product.Description"><p>{{product.Description}}</p></div>
            </div>
        </div>
    </div>
</article>