<article id="COMPONENT_buildyourown">
    <div class="container-fluid">
        <div>

            <h1>Build Your Own Corsage/Boutonniere</h1>
            <h2>Design Recommendations</h2>
            <h3>When ordering formal flowers, consider the following</h3>
            <ol>
                <li>Dress Color: Pick flower colors that complement the color of your dress.</li>
                <li>Flower Type: Look for types of flowers that most reflect the theme of your occasion, your personality or
                    dress style.
                </li>
                <li>Wristlet Style: Choose a wristlet that best matches your style of dress and coordinate with your other
                    accessories.
                </li>
                <li>Personality: Consider adding extra "bling" to your corsage such as gems, a wristlet or ribbon.</li>
                <li>Matching Boutonniere: It's easiest to match his boutonniere to your chosen corsage, rather than the
                    other
                    way around.
                </li>
            </ol>

        </div>

        <div class="row">
            <!--Options-->
            <div class="panel-group col-md-8" id="accordion" role="tablist" aria-multiselectable="true">
                <!--Select Type-->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <span role="button" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne"
                                  aria-expanded="true" aria-controls="collapseOne">
                                * Select Type
                            </span>
                        </h4>
                    </div>

                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2" ng-repeat="category in buildYourOwn.categories.Items">
                                    <button ng-click="buildYourOwn.typeSelected(category)">{{category.Name}}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="buildYourOwn.productTypeSelected == true">
                    <div class="panel panel-default" ng-repeat="subcategory in buildYourOwn.typeChosen.Options">
                        <div class="panel-heading" role="tab" id="{{subcategory.ID}}">
                            <h4 class="panel-title">
                            <span role="button" data-toggle="collapse" data-target="#collapseOne" href="#collapseOne"
                                  aria-expanded="true" aria-controls="collapseOne" >
                                {{subcategory.Name}}
                            </span>
                            </h4>
                        </div>

                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2" >
                                        <button ng-click="buildYourOwn.typeSelected(category)">{{subcategory.Options.Name}}</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Choose Optional Embellishments-->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                      href="#collapseSeven"
                                      aria-expanded="false" aria-controls="collapseSeven">
                                    Chose Optional Embellishments
                                </span>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingSeven">
                            <div class="panel-body">
                                <!--Embellishments NESTED ACCORDIAN-->
                                <div class="panel-group" id="nestedTwo">
                                    <div class="panel panel-default" ng-repeat="type in buildYourOwn.optionalEmbellishments.types">
                                        <div class="panel-heading" role="tab" id="nestedTwo-headingOne">
                                            <h4 class="panel-title">
                                                <span class="collapsed" role="button" data-toggle="collapse"
                                                      data-parent="#nested"
                                                      ng-href="#{{type.ID}}"
                                                      aria-expanded="false" aria-controls="nestedTwo-collapseOne">
                                                    {{type.Name}}
                                                </span>
                                            </h4>
                                        </div>
                                        <div id="{{type.ID}}" class="panel-collapse collapse" role="tabpanel"
                                             aria-labelledby="nestedTwo-headingOne">
                                            <div class="panel-body">
                                                <div ng-if="type.Products"><button ng-repeat="product in type.Products" ng-click="buildYourOwn.addSelection(product,type.ID)">{{product.Name}}</button></div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Choose Optional Floral Accessories-->
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <span class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                                      href="#collapseEight"
                                      aria-expanded="false" aria-controls="collapseEight">
                                    Choose Optional Floral Accessories
                                </span>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                             aria-labelledby="headingEight">
                            <div class="panel-body">
                                <!--Floral Accessories NESTED ACCORDIAN-->
                                <div class="panel-group" id="nestedEight">
                                    <div class="panel panel-default" ng-repeat="type in buildYourOwn.optionalFloralAcc.types">
                                        <div class="panel-heading" role="tab" id="nestedThree-headingOne">
                                            <h4 class="panel-title">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                   data-parent="#nested"
                                                   ng-href="#{{type.ID}}"
                                                   aria-expanded="false" aria-controls="nestedThree-collapseOne">
                                                    {{type.Name}}
                                                </a>
                                            </h4>
                                        </div>
                                        <!--START TABBED NECKLACE TYPES-->
                                        <div id="{{type.ID}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="nestedThree-headingOne">
                                            <div class="panel-body">

                                                <!--<ul class="nav nav-tabs nav-stacked col-md-3" roles="tablist"></ul>-->
                                                <div class="tab-content">
                                                    <div ng-repeat="product in subcategory" role="tabpanel" class="tab-pane active" id="{{subcategory.ID}}">
                                                        <div>
                                                            <p>{{product}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-if="type.Products">
                                                    <button class="btn btn-default" ng-repeat="product in type.Products" ng-click="buildYourOwn.addSelection(product,type.ID)">
                                                        {{product.Name}}
                                                    </button>
                                                </div>

                                                <uib-tabset active="activePill" vertical="true" type="pills">
                                                    <uib-tab ng-repeat="subcategory in type.SubCategories" class="nav nav-pills nav-stacked col-md-3" index="$index" heading="{{subcategory.Name}}">
                                                            <!--{{subcategory.Name}}-->
                                                        <button class="btn btn-default btn pull-right" ng-repeat="product in subcategory.Products" ng-click="buildYourOwn.addSelection(product,type.ID)">
                                                            {{product.Name}}
                                                        </button>
                                                    </uib-tab>
                                                    <!--<uib-tab index="1" heading="Vertical 2">Vertical content 2</uib-tab>-->
                                                </uib-tabset>
                                            </div>
                                        </div>
                                        <!--END TABBED NECKLACE TYPES-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Cart-->
            <div class="col-md-4">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3>Selections thus far</h3></div>
                        <div class="panel-body">
                            <div ng-repeat="selection in buildYourOwn.itemCreated.selectionsMade">
                                {{selection.Type}}:{{selection.Name}}
                                {{selection.Price | currency}}
                            </div>

                            <hr>
                            <div>
                                <p>Total: </p>
                                <div ng-if="buildYourOwn.itemCreated.totalPrice">{{buildYourOwn.itemCreated.totalPrice |
                                    currency}}
                                </div>
                                <button class="btn btn-success" ng-if="buildYourOwn.requirementsMetForMVP">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</article>