<article id="COMPONENT_buildyourown">
    <div class="container-fluid">



        <div class="instructions">

            <h1>Build Your Own Corsage/Boutonniere</h1>
            <h2>Design Recommendations</h2>
            <h3>When ordering formal flowers, consider the following</h3>
            <ol>
                <li>Dress Color: Pick flower colors that complement the color of your dress.</li>
                <li>Flower Type: Look for types of flowers that most reflect the theme of your occasion, your
                    personality or
                    dress style.
                </li>
                <li>Wristlet Style: Choose a wristlet that best matches your style of dress and coordinate with your
                    other
                    accessories.
                </li>
                <li>Personality: Consider adding extra "bling" to your corsage such as gems, a wristlet or ribbon.</li>
                <li>Matching Boutonniere: It's easiest to match his boutonniere to your chosen corsage, rather than the
                    other
                    way around.
                </li>
            </ol>

        </div>


        <!--Options-->
        <div class="panel-group col-md-8">
            <!--Select Type-->
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="isNavCollapsed = !isNavCollapsed">
                    <h4>
                        * Select Type
                    </h4>
                </div>
                <!--This is select Type-->
                <div class="panel-body" uib-collapse="!isNavCollapsed">
                    <div class="col-md-4"
                         ng-repeat="type in buildYourOwn.categories.Items"
                         ng-click="buildYourOwn.typeSelected(type)">
                        <div class="thumbnail">
                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=400&h=250"
                                 alt="...">
                            <div class="caption">
                                <h3>{{type.Name}}</h3>
                                <span>Price</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-default" ng-repeat="subcategory in buildYourOwn.typeChosen.Options">
                <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                    <h4>
                        {{subcategory.Name}}
                    </h4>
                </div>
                <!--BASE FLOWER CHOICES-->
                <div class="panel-body" uib-collapse="!isCollapsed">
                    <div class="row">
                        <div class="col-lg-2 col-md-4" ng-if="subcategory.Products" ng-repeat="choice in subcategory.Products" ng-click="buildYourOwn.addSelection(choice,subcategory, $parent.$index)">
                            <div class="thumbnail">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                     alt="...">
                                <div class="caption">
                                    <h5>{{choice.Name}}</h5>
                                    <span>Price</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--ng-if="subcategory.Name == 'Base Flower Choices'"-->
                    <div class="row">
                        <div class="col-sm-6 col-md-4"
                             ng-repeat="choice in subcategory.SubCategories"
                             ng-click="buildYourOwn.addSelection(choice, subcategory, $parent.$index)">
                            <div class="thumbnail">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                     alt="...">
                                <div class="caption">
                                    <h5>{{choice.Name}}</h5>
                                    <span>Price</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--THIS FOOTER IS FOR COLOR SWATCHES-->
                    <div class="panel-footer" uib-collapse="!buildYourOwn.productOptions[subcategory.ID].length">
                        <div ng-if="subcategory.Name == 'Base Flower Choices'">
                            <div ng-repeat="productOption in buildYourOwn.productOptions[subcategory.ID]">
                                <!--<div ng-include="'common/templates/' + subcategory.xp.productTemplate + '.tpl.html'"></div>-->
                                <div class="col-sm-6 col-md-3">
                                    <div class="color-options">
                                        <div class="color-swatch" style="background-color:{{productOption.xp.Color}};">
                                            <span class="hover-colorName">{{productOption.Name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--THIS FOOTER IS FOR PRODUCT NAMES-->
                    <!--HARD CODE THE IDs HERE-->
                    <div class="panel-footer" uib-collapse="!buildYourOwn.productOptions[subcategory.ID].length">
                        <div ng-if="subcategory.Name !== 'Base Flower Choices'">
                            <div ng-repeat="productOption in buildYourOwn.productOptions[subcategory.ID]">
                                <!--<div ng-include="'common/templates/' + subcategory.xp.productTemplate + '.tpl.html'"></div>-->
                                <div class="col-sm-6 col-md-3">
                                    <h5>{{productOption.Name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--ng-if="buildYourOwn.optionalEmbellishments.show"-->

            <!--Choose Optional Embellishments-->
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                    <h4>
                        Choose Optional Embellishments
                    </h4>
                </div>

                <div class="panel-body" uib-collapse="!isCollapsed">
                    <div class="row">
                        <div class="col-sm-6 col-md-3"
                             ng-repeat="type in buildYourOwn.optionalEmbellishments.types"
                             ng-click="buildYourOwn.addSelection(type, subcategory)">
                            <!--THIS NG-CLICK IS NOT WORKING-->
                            <div class="thumbnail">
                                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200" alt="...">
                                <div class="caption">
                                    <h5>{{type.Name}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-footer" uib-collapse="!buildYourOwn.addSelection[subcategory.ID].length">
                    <div ng-if="type.Products">
                        <div ng-repeat="product in type.Products" ng-click="buildYourOwn.addSelection(product, type.ID)">
                            <!--<div ng-include="'common/templates/' + subcategory.xp.productTemplate + '.tpl.html'"></div>-->
                        {{product.Name}}
                        </div>
                    </div>
                </div>
            </div>

            <!--ng-if="buildYourOwn.optionalFloralAcc.show"-->
            <!--FLORAL ACCESSORIES HEADER-->
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="isCollapsedVertical = !isCollapsedVertical">
                    <h4>
                        Choose Optional Floral Accessories
                    </h4>
                </div>
                <div class="panel-body" uib-collapse="!isCollapsedVertical">
                    <!--FLORAL ACCESSORIES TYPES-->
                    <div class="panel-group">
                        <div class="panel panel-default"
                             ng-repeat="type in buildYourOwn.optionalFloralAcc.types">
                            <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                                {{type.Name}}
                            </div>
                            <!--INDIVIDUAL PRODUCTS OF FLORAL ACCESSORY TYPES-->
                            <div class="panel-body" uib-collapse="isCollapsed">
                                <div ng-if="type.Products">
                                    <div class="col-sm-6 col-md-3"
                                         ng-repeat="product in type.Products"
                                         ng-click="buildYourOwn.addSelection(product,type.ID)">
                                        <div class="thumbnail">
                                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200" alt="...">
                                            <div class="caption">
                                                <h5>{{product.Name}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3"
                                     ng-repeat="subcategory in type.SubCategories">
                                     <!--NEED AN NG-CLICK HERE-->
                                    <div class="thumbnail">
                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200" alt="...">
                                        <div class="caption">
                                            <h5>{{subcategory.Name}}</h5>
                                        </div>
                                    </div>

                                    <div class="panel-footer">
                                        <div ng-repeat="product in subcategory.Products" ng-click="buildYourOwn.addSelection(product,type.ID)">
                                            <div ng-include="'common/templates/' + subcategory.xp.productTemplate + '.tpl.html'"></div>
                                            {{product.Name}}
                                        </div>
                                    </div>

                                 </div>
                            </div>
                            <!--END TABBED NECKLACE TYPES-->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--SUM OF ITEMS SELECTED-->
        <div class="fixed hidden-xs">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>Build Your Own: {{buildYourOwn.typeChosen.Name}}</h3></div>
                    <div class="panel-body">
                        <div ng-repeat="selection in buildYourOwn.itemCreated.selectionsMade">
                            {{selection.Type}}:{{selection.Name}}
                            {{selection.Price | currency}}
                        </div>

                        <hr>
                        <div>
                            <p>Total: </p>
                            <div ng-if="buildYourOwn.itemCreated.totalPrice">{{buildYourOwn.itemCreated.totalPrice |
                                currency}}
                            </div>
                            <button class="btn btn-success" ng-if="buildYourOwn.requirementsMetForMVP">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--SUM OF ITEMS SELECTED ON XS-->
        <nav class="navbar navbar-default navbar-fixed-bottom visible-xs" ng-click="openContainer = !openContainer">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand">Build Your Own: {{buildYourOwn.typeChosen.Name}}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" uib-collapse="!openContainer">
                    <ul class="nav navbar-nav">
                        <div ng-repeat="selection in buildYourOwn.itemCreated.selectionsMade">
                            <li>{{selection.Type}}:{{selection.Name}}</li>
                            <li>{{selection.Price | currency}}</li>
                            <li role="separator" class="divider"></li>
                            <li>Total:
                                <div ng-if="buildYourOwn.itemCreated.totalPrice">{{buildYourOwn.itemCreated.totalPrice | currency}}</div>
                            </li>
                        </div>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <button class="btn btn-success" ng-if="buildYourOwn.requirementsMetForMVP">Add to Cart</button>
                    </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

    </div>
</article>