<article id="COMPONENT_buildyourown">
    <div class="container-fluid">

        <div class="instructions">

            <h1>Build Your Own Corsage/Boutonniere</h1>
            <h2>Design Recommendations</h2>
            <h3>When ordering formal flowers, consider the following</h3>
            <ol>
                <li>Dress Color: Pick flower colors that complement the color of your dress.</li>
                <li>Flower Type: Look for types of flowers that most reflect the theme of your occasion, your
                    personality or
                    dress style.
                </li>
                <li>Wristlet Style: Choose a wristlet that best matches your style of dress and coordinate with your
                    other
                    accessories.
                </li>
                <li>Personality: Consider adding extra "bling" to your corsage such as gems, a wristlet or ribbon.</li>
                <li>Matching Boutonniere: It's easiest to match his boutonniere to your chosen corsage, rather than the
                    other
                    way around.
                </li>
            </ol>

        </div>

        <div class="row">
            <!--Options-->
            <div class="col-lg-8">
                <div class="panel-group">
                    <!--Select Type-->
                    <div class="panel panel-default">
                        <div class="panel-heading" ng-click="buildYourOwn.showType = !buildYourOwn.showType">
                            <div class="row">
                                <div class="col-md-10">
                                    * Select Type
                                </div>
                                <div class="col-md-2">
                                    {{buildYourOwn.itemCreated.Type}}
                                </div>

                            </div>
                        </div>

                        <!--This is select Type Body-->
                        <div class="panel-body" uib-collapse="buildYourOwn.showType">
                            <div class="col-md-4"
                                 ng-repeat="type in buildYourOwn.categories"
                                 ng-click="buildYourOwn.typeSelected(type)">
                                <div class="thumbnail">
                                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=400&h=250"
                                         alt="...">
                                    <div class="caption">
                                        <h3>{{type.Name}}</h3>
                                        <span>Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">


                        <div class="panel-body">

                            <div class="panel panel-default" ng-repeat="type in buildYourOwn.typeChosen.Options"
                                 ng-init="outerIndex = $index">
                                <div class="panel-heading" ng-click="buildYourOwn.setCollapse(type)">
                                    {{type.Name}}{{outerIndex}}
                                </div>
                                <div class="panel-body" uib-collapse="!buildYourOwn[type.ID].isNavCollapsed">

                                    <!-- BASE PRODUCT CHOICES-->
                                    <div ng-if="type.Products">
                                        <div class="col-md-3" ng-repeat="product in type.Products"
                                             ng-click="buildYourOwn.addSelection(product, type, buildYourOwn.typeChosen.Options, $parent.$index)">
                                            <div class="thumbnail">
                                                <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                                     alt="...">
                                                <div class="caption">
                                                    <h5>{{product.Name}}</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--FLOWER CHOICE SUBCATEGORY-->
                                    <div class="col-md-4"
                                         ng-repeat="subcategory in type.SubCategories"
                                         ng-if="type.Name == 'Base Flower Choices'">
                                        <div class="thumbnail"
                                             ng-click="buildYourOwn.addSelection(subcategory,type,buildYourOwn.typeChosen.Options, outerIndex)">
                                            <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                                 alt="...">
                                            <div class="caption">
                                                <h5>{{subcategory.Name}}</h5>
                                            </div>
                                        </div>
                                    </div>

                                    <!--OPTIONAL ADD ON SUBCATEGORY-->
                                    <div class="panel panel-default"
                                         ng-repeat="subcategory in type.SubCategories"
                                         ng-init="optionalAddOn = $index"
                                         ng-if="type.Name !== 'Base Flower Choices'">
                                        <div class="panel-heading" ng-click="buildYourOwn.setCollapse(subcategory)">
                                            <h4>{{subcategory.Name}}</h4>
                                        </div>
                                        <div class="panel-body"
                                             uib-collapse="!buildYourOwn[subcategory.ID].isNavCollapsed">
                                            <div ng-if="subcategory.Products">
                                                <div class="col-md-3"
                                                     ng-repeat="product in subcategory.Products"
                                                     ng-click="buildYourOwn.addSelection(product, subcategory )">
                                                    <div class="thumbnail">
                                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                                             alt="...">
                                                        <div class="caption">
                                                            <h5>{{product.Name}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--OPTIONAL FOR ALL TYPES-->
                                    <div class="panel panel-default" ng-repeat="option in type.Options">
                                        <!--ng-if="type.Name !== 'Base Flower Choices'"-->
                                        <div class="panel-heading" ng-click="buildYourOwn.setCollapse(option)">
                                            <h4>{{option.Name}}</h4>
                                        </div>
                                        <div class="panel-body" uib-collapse="!buildYourOwn[option.ID].isNavCollapsed">
                                            <!--Products that are on First level Of Categories-->
                                            <div ng-if="option.Products">
                                                <div class="col-md-3" ng-repeat="product in option.Products"
                                                     ng-click="buildYourOwn.addSelection(product, option)">
                                                    <div class="thumbnail">
                                                        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                                             alt="...">
                                                        <div class="caption">
                                                            <h5>{{product.Name}}</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="option.SubCategories">
                                                <div class="panel panel-default"
                                                     ng-repeat="category in option.SubCategories"
                                                     ng-click="buildYourOwn.addSelection(category, option,$index)">
                                                    <div class="panel-heading"
                                                         ng-click="buildYourOwn.setCollapse(category)">
                                                        <h4>{{category.Name}}</h4>
                                                    </div>
                                                    <div class="panel-body"
                                                         uib-collapse="!buildYourOwn[category.ID].isNavCollapsed">
                                                        <div ng-if="category.Products">
                                                            <div class="col-md-3"
                                                                 ng-repeat="product in category.Products"
                                                                 ng-click="buildYourOwn.addSelection(product, category)">
                                                                <div class="thumbnail">
                                                                    <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=placeholder&w=200&h=200"
                                                                         alt="...">
                                                                    <div class="caption">
                                                                        <h5>{{product.Name}}</h5>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Custom Corsage Queue-->
            <div class="col-lg-4">
                <div class="panel-group" ng-if="buildYourOwn.customQueueDisplay">
                    <div class="panel panel-default">

                        <div class="panel-heading"><h3>Build Your Own: {{buildYourOwn.typeChosen.Name}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div ng-repeat="selection in buildYourOwn.itemCreated.selectionsMade">
                                    <div class="col-md-8">
                                        {{selection.Type}}:{{selection.Name}}

                                    </div>
                                    <div class="col-md-2">
                                        {{selection.Price | currency}}
                                    </div>
                                    <div class="col-md-2">
                                        <i class="fa fa-remove"
                                           ng-click="buildYourOwn.removeSelection(selection)"></i>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div>
                                <p>Total: </p>
                                <div ng-if="buildYourOwn.itemCreated.totalPrice">
                                    {{buildYourOwn.itemCreated.totalPrice |
                                    currency}}
                                </div>
                                <button class="btn btn-success" ng-if="buildYourOwn.requirementsMetForMVP"
                                        ng-click="buildYourOwn.addToCart()">Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</article>